/*THIS IS THE FONT IMPORT DOI NOT DELETE :)*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
    
    /*colours */
    --Main: #000143;
    --Main-tint: #1d1e50;
    --Main-shade: #010029;
    
    --seconary: #efecea;
    --seconary-tint:#f8f4f2 ;
    --seconary-shade:#d1cfcd ;
    
    --light: #ffffff;
    --dark: #000000;
    
    --gradient: linear-gradient(to bottom,#191944 , #000143 );
    --shadow:rgba(0,0,0,0.8);
    
    /* spaceing */
    --space-0: 0; 
    --space-1: 0.5rem; 
    --space-2: 1rem; 
    --space-3: 2rem; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}

/*//////////////////////////////////        HEADER        //////////////////////////////////*/

.main-bar{
    width: 100%;
    height: 120px;
    background-color: var(--Main);
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}
ul{
    list-style: none;
    display: flex;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li:hover{
    background: var(--Main-tint);
}

ul li a {
    display: block;
    padding: 25px ;
    color: var(--light);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

/* Drop down menu dont delete */
ul li ul.dropdown Li {
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: var(--Main);
    position: absolute;
    z-index: 999;
    display: none;
    justify-content: center;
}

.dropdown li :hover{
    background-color: var(--Main-tint);
    cursor: pointer;
}

ul li:hover ul.dropdown {
    display: block;
}

/*logo and icons*/

.logo{
    float: left;
    width : 20%;
    display: flex;
    
}

.icons{
    color: var(--light);
}

/*//////////////////////////////////        carosel        //////////////////////////////////*/

img{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: center
}

.carosel{
    background-color: var(--Main-shade);
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

/* buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--seconary-shade);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: var(--shadow);
    color: var(--light);
}



.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*//////////////////////////////////        main        //////////////////////////////////*/
body{
    background-color: var(--seconary-tint);

}
