/*THIS IS THE FONT IMPORT DOI NOT DELETE :)*/
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
    
    /*colours */
    --Main: #000143;
    --Main-tint: #1d1e50;
    --Main-shade: #010029;
    
    --seconary: #efecea;
    --seconary-tint:#f8f4f2 ;
    --seconary-shade:#d1cfcd ;
    
    --light: #ffffff;
    --dark: #000000;
    
    --gradient: linear-gradient(to bottom,#202050 , #000143 );
    --shadow:rgba(0,0,0,0.8);
    --shadow-2:rgba(0, 0, 0, 0.404);
    
    /* spaceing */
    --space-0: 0; 
    --space-1: 0.5rem; 
    --space-2: 1rem; 
    --space-3: 2rem; 
}

.grid-2col{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.grid-3col{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}

body{
    background-color: var(--seconary-tint);
}


/*//////////////////////////////////        HEADER        //////////////////////////////////*/

.main-bar{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: var(--Main);
    background: var(--gradient);
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: var(--seconary-shade) solid 1px;
    font-family: Geologica, Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
    display: flex;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li:hover{
    background: var(--Main-tint);
}

a{
    padding: 15px ;
    
}

ul li a {
    display: block;
    padding: 25px ;
    color: var(--light);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

/* Drop down menu dont delete */
ul li ul.dropdown Li {
    display: block;
}

ul li ul.dropdown{
    background: var(--Main);
    position: absolute;
    z-index: 999;
    display: none;
    align-items: center;
}

.dropdown li :hover{
    background-color: var(--Main-tint);
    cursor: pointer;
}

ul li:hover ul.dropdown {
    display: block;
}

/*logo and icons*/

.logo{
    float: left;
    width : 20%;
    display: flex;
    
}

.icons {
    color: var(--light);
    justify-content: space-between;
    cursor: pointer;
}

.icons i {
    padding: 20px;
}

/*//////////////////////////////////        carosel        //////////////////////////////////*/



.carosel{
    background-color: var(--Main-shade);
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: center
}

/* buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--seconary-shade);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--shadow);
    color: var(--light);
    font-size: 200%;
}



.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*//////////////////////////////////        main        //////////////////////////////////*/


main {
    font-family: Geologica, Georgia, 'Times New Roman', Times, serif;
    
}

.apply{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding: var(--space-3);
    background-color: var(--light);
}

/************        events        *************/

.events{
    background-color: var(--light);
    max-width: 1200px;
    margin: auto;
    padding: var(--space-3);
    box-shadow: 4px 0px 20px var(--shadow-2);
    margin-top: 400px;
    padding: var(--space-3);
}

.campuslife img{
    display: block;
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.fun-stuff{
    margin-top: 50px;
}


/************        Locations        *************/

.locations{
    background-color: var(--Main);
    margin: 250px 0 250px;
    color: var(--light);
}

.locations img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.content{
    margin: 0 250px;
}


/************        news        *************/
.news-sec{
    background-color: var(--light);
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: var(--space-3);
    box-shadow: 4px 0px 20px var(--shadow-2);
    
}
.news-image {
    position: relative;
    display:flex;
    flex-direction: column;
}

.news-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.news-image .tag {
    background-color: var(--light);
    color: var(--Main);
    box-shadow: 4px 0px 15px var(--shadow-2);
    
    padding: var(--space-1) var(--space-2);
    border-radius: var(--space-3);
    
    position: absolute;
    top: var(--space-2);
    left: var(--space-2);
}

.news-component{
    box-shadow: 4px 0px 2px var(--shadow-2);
    
}

.news-component:hover{
    width: 102%;
    height: 102%;
    transform: translateX(-1%) translateY(-1%);
    cursor: pointer;
}

.descrption-box {
    background-color: var(--Main);
    color: var(--light);
    padding: var(--space-1);
    height: 100px;
}


/*//////////////////////////////////        footer        //////////////////////////////////*/

.footer{
    background-color: var(--Main);
    width: 100%;
    height: 300px;
}