/*THIS IS THE FONT IMPORT DOI NOT DELETE :)*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
    
    /*colours */
    --Main: #000143;
    --Main-tint: #2e2f72;
    --Main-shade: #010029;
    
    --seconary: #d0cfe6;
    --seconary-tint:#eef0ff ;
    --seconary-shade:#a7a5bb ;
    
    --light: #ffffff;
    --dark: #000000;
    
    /* spaceing */
    --space-0: 0; 
    --space-1: 0.5rem; 
    --space-2: 1rem; 
    --space-3: 2rem; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}

/*//////////////////////////////////        HEADER        //////////////////////////////////*/

.main-bar{
    width: 100%;
    height: 120px;
    background: var(--Main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}
ul{
    list-style: none;
    display: flex;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 25px ;
    color: var(--light);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

/* Drop down menu dont delete */
ul li ul.dropdown Li {
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: var(--Main);
    position: absolute;
    z-index: 999;
    display: none;
    justify-content: center;
}

.dropdown li :hover{
    background-color: var(--Main-tint);
    cursor: pointer;
}

ul li:hover ul.dropdown {
    display: block;
}



.logo{
    float: left;
    width : 20%;
    display: flex;
}

.icons{
    color: var(--light);
    
}

/*//////////////////////////////////        carosel        //////////////////////////////////*/

body{
    background: var(--Main-shade);
}

.fa-solid fa-arrow-left fa-solid fa-arrow-right {
    box-sizing: border-box;
}
.carosel{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide >img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: contain;
    object-position: center
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active] {
    opacity: 1;
}

.carosel >i {
    position: absolute;
    z-index: 5;
    top: 25%;
    color: var(--seconary-shade);
    cursor: pointer;
    font-size: 2rem;
}

.carosel > i:hover,
.carosel > i:focus{
    color: var(--light);
}

.fa-arrow-right {
    right: 1rem;
}

.fa-arrow-left {
    left: 1rem;
}